[submodule "knowledge/classcad-skill"]
	path = knowledge/classcad-skill
	url = https://github.com/awv-informatik/classcad-skill.git
[submodule "classcad-skill"]
	path = classcad-skill
	url = https://github.com/awv-informatik/classcad-skill.git
